form{
    margin-bottom: 25px;
}

input, select{
    padding: 10px;
}

.card-img-top{
    max-height: 15vw;
    object-fit:contain;
}

.card{
    padding: 20px;
}

.btn{
    margin-top: .3rem;
}

#back-button{
    margin-left: 20px;
}
ngb-alert{
    padding: 10px;
}



/* @media (max-width: 767.9px) {

.form-group{
    width: fit-content;
}
} */