<div class="navbar-div">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a routerLink="/home" routerLinkActive="active"><img src="../assets/logo.png" class="navbar-brand me-4"
          (click)="collapseNavbar()"></a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse nav-user">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <ng-template #showLogin>
            <li class="nav-item">
              <button class="btn btn-outline-light nav-link-btn" routerLink="/login" routerLinkActive="active"
                ariaCurrentWhenActive="page" (click)="collapseNavbar()">Login</button>
            </li>
          </ng-template>
          <li *ngIf="auth.user$ | async as user; else showLogin" ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownBasic1" ngbDropdownToggle>
              {{user.name || "Username"}}
            </a>
            <ul ngbDropdownMenu class="dropdown-menu py-0">
              <li><a gbDropdownItem class="dropdown-item" routerLink="/myOrders" (click)="collapseNavbar()"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3L2.95.4ZM7.5 1H3.75L1.5 4h6V1Zm1 0v3h6l-2.25-3H8.5ZM15 5H1v10h14V5Z" />
                  </svg> &nbsp; My Orders</a></li>
              <hr class="m-0">
              <li><a gbDropdownItem class="dropdown-item" routerLink="admin/product" (click)="collapseNavbar()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
              </svg> &nbsp; Manage Products</a></li>
              <hr class="m-0">
              <li><a gbDropdownItem class="dropdown-item" routerLink="/login" (click)="logout()"
                  (click)="collapseNavbar()"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                    <path d="M7.5 1v7h1V1h-1z" />
                    <path
                      d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                  </svg> Logout</a></li>
            </ul>
          </li>
        </ul>
        <button class="d-flex cart-logo me-3 btn" routerLink="shoppingCart" routerLinkActive="active"
          (click)="collapseNavbar()">
          <div><svg xmlns="http://www.w3.org/2000/svg" width="42" height="38" fill="currentColor" class="bi bi-cart2"
              viewBox="0 0 16 16">
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
            </svg></div>
          <div class="cart-quantity">{{totalItems || 0}}</div>
        </button>
      </div>
    </div>
  </nav>

</div>