<div class="navbar-div">
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
   <a  routerLink="/home" routerLinkActive="active"><img src="../assets/logo.webp"class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <ng-template #showLogin>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login" routerLinkActive="active"
              ariaCurrentWhenActive="page">Login</a>
          </li>
        </ng-template>
        <li *ngIf="auth.user$ | async as user; else showLogin" ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownBasic1" ngbDropdownToggle>
            {{user.name || "Username"}}
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a gbDropdownItem class="dropdown-item" routerLink="admin/product">Manage Product</a></li>
            <li><a gbDropdownItem class="dropdown-item" routerLink="/login" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex cart-logo" routerLink="shoppingCart" type="button" routerLinkActive="active">
        <div><svg xmlns="http://www.w3.org/2000/svg" width="42" height="38" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
          <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
        </svg></div>
        <div class="cart-quantity" >{{totalItems || 0}}</div>
      </div>
    </div>
  </div>
</nav>

</div>