.card-registration {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

/* @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
} */


.cart-container {
    max-height: auto;
}

.btn-back {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 500;
    border-radius: 1.8rem;
}

#total-container {
    flex-wrap: wrap;
}


.order-container {
    flex-wrap: wrap;
    /* justify-content: center; */
}

@media (max-width: 767px) {
    .d-flex {
        justify-content: center;
    }
    #product-image{
        width: 100%;
    }
}

#date-container{
 color: grey;
 flex-wrap: wrap;
}

.btn-back:hover{
    background-color:rgb(192, 192, 192);
    
}

