<div class="pb-4">
    <div class="container container-xxl">
        <form (ngSubmit)="signUp(name.value, email.value, password.value)" #signUpForm="ngForm">
            <div class="row">
                <div class="col" class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="signUpd.name" #name="ngModel" name="fullName"
                        id="name" placeholder="Name" required>
                    <ngb-alert *ngIf="name.invalid && (name.dirty || name.touched)" type="danger"
                        [dismissible]="false">Name
                        is required*</ngb-alert>
                    <ngb-alert *ngIf="name.invalid && signUpForm.submitted && name.untouched" type="danger"
                        [dismissible]="false">
                        Name is required*</ngb-alert>
                </div>
            </div>
            <div class="row">
                <div class="col" class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="signUpd.email" #email="ngModel" name="email"
                        id="email" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        required>
                    <ngb-alert *ngIf="email.invalid && email.touched" type="danger" [dismissible]="false">
                        Email is Invalid*</ngb-alert>
                    <ngb-alert *ngIf="email.invalid && signUpForm.submitted && email.untouched" type="danger"
                        [dismissible]="false">
                        Email is required*</ngb-alert>
                </div>

            </div>
            <div class="row">
                <div class="col" class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="signUpd.password" #password="ngModel"
                        name="password" id="password" placeholder="Password" required>
                    <ngb-alert *ngIf="password.invalid && (password.dirty ||password.touched)" type="danger"
                        [dismissible]="false">Password is required*</ngb-alert>
                    <ngb-alert *ngIf="password.invalid && signUpForm.submitted && password.untouched" type="danger"
                        [dismissible]="false">
                        Password is required*</ngb-alert>

                </div>
            </div>
            <div class="row">
                <div class="col" class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="signUpd.confirmPassword"
                        #confirmPassword="ngModel" name="confirmPassword" id="confirmPassword"
                        placeholder="Confirm Password" required>
                    <ngb-alert *ngIf="confirmPassword.invalid && (confirmPassword.dirty ||confirmPassword.touched)"
                        type="danger" [dismissible]="false">Please confirm password*.</ngb-alert>
                    <ngb-alert *ngIf="(confirmPassword.value != password.value) && confirmPassword.touched"
                        type="danger" [dismissible]="false">Password do not match*.</ngb-alert>
                    <ngb-alert *ngIf="confirmPassword.invalid && signUpForm.submitted && confirmPassword.untouched"
                        type="danger" [dismissible]="false">
                        Please confirm password*.</ngb-alert>
                </div>
            </div>

            <div class="row">
                <div class="col d-grid gap-2">
                    <button class="btn btn-primary btn-md" type="submit">
                        SignUp
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="register" type="text">Already have a account. <a class="loginLink"
                            routerLink="/login">Login</a></p>
                </div>
            </div>
        </form>
    </div>
</div>