
.button-action{
   text-align: center;
   width: 20%;
}

.btn{
   margin-left: 20px;
   border-radius: 30px;
   font-size: larger;

}

#add-product{
   border-radius: 25px;
   font-size: x-large;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   font-weight: 500;
   background-color: rgb(22, 155, 155);

  
}

#add-product:hover{
	background-color: rgb(49, 218, 218);

}
#delete{
   margin-top:10px;
}

th{
   font-size: x-large;
}

tbody{
   font-size: larger;
}

th[sortable] {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

th[sortable].desc:before,
th[sortable].asc:before {
	content: '';
	display: block;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC')
		no-repeat;
	background-size: 32px;
	width: 32px;
	height: 32px;
	float: left;
	margin-left: -22px;
}

th[sortable].desc:before {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.loadingLabel{
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 767.9px) {
	#upper-div{
		flex-wrap: wrap;
	}
	#search-box{
		margin-top: 25px;
	}
	th{
		font-size: medium;
	}
	
	
}

@media (max-width: 400px) {
	#pagination-div{
		width: 130%;
	}
}

.admin-product{
	padding-bottom: 80px;
}

.form-select{
	height: 50px;
}