<div class="admin-product">
    <div class="mb-3 d-flex justify-content-between align-items-center" id="upper-div">
            <button class="btn btn-lg m-0" id="add-product" routerLink="/admin/product/form">
                Add a product
            </button>
        <form>
            <div class="row d-flex align-items-center" id="search-box">
                <label class="col-xs-3 col-sm-auto col-form-label fw-bold fs-5">Search</label>
                <div class="col-xs-3 col-sm-auto">
                    <input (keyup)="filter()" id="table-complete-search" type="text" class="form-control"
                        name="searchTerm" [(ngModel)]="datatableService.searchTerm" />
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col" sortable="productName" (sort)="onSort($event)">Product Name</th>
                <th scope="col" sortable="price" (sort)="onSort($event)">Price</th>
                <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let list of productListPaginate;index as i">
                <td>{{ (datatableService.page - 1) * datatableService.pageSize + i + 1 }}</td>
                <td><ngb-highlight [result]="list.productName" [term]="datatableService.searchTerm"></ngb-highlight>
                </td>
                <td><ngb-highlight [result]="list.price" [term]="datatableService.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="list.category" [term]="datatableService.searchTerm"></ngb-highlight></td>
                <td class="button-action">
                    <button class="btn btn-primary" id="edit" [routerLink]="['/admin/product/', list.id]">Edit</button>
                    <button class="btn btn-danger" id="delete" (click)="delete(list.id)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between" id="pagination-div">
        <ngb-pagination class="mt-2" [collectionSize]="productListFiltered.length" [(page)]="datatableService.page"
            [pageSize]="datatableService.pageSize" (pageChange)="refreshCountries()">
        </ngb-pagination>

        <select class="form-select" style="width:auto" name="pageSize" [(ngModel)]="datatableService.pageSize"
            (ngModelChange)="refreshCountries()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>



</div>