<div class="home-container">
    <div class="container text-center">
        <div class="row d-flex justify-content-center">
            <div class="col-categories">
                <div class="list-group sticky-top">
                    <a class="list-group-item list-group-item-action" routerLink="/home"
                        [queryParams]="{ m: sortByMethod, s : sortDirection, c : sortColumn  }"
                        [class.active]="id == null" (click)="filterByCategory()">All Categories</a>
                    <a class="list-group-item list-group-item-action" *ngFor="let category of categories$ | async"
                        routerLink="/home"
                        [queryParams]="{category : category, s: sortDirection, c : sortColumn, m: sortByMethod  }"
                        (click)="filterByCategory(category)" [class.active]="id === category">{{category}}</a>

                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div ngbDropdown class="block">
                        <button type="button" class="btn btn-secondary" id="dropdownSorting" ngbDropdownToggle>
                            <span style="font-weight:400;">Sort By:&nbsp;&nbsp;</span>{{sortByMethod}}</button>
                        <div ngbDropdownMenu class="dropdownSortingList">
                            <button class="btn btn-secondary" *ngFor="let sort of sorting"
                                [class.sortByActive]="sortByMethod === sort.sortBy" ngbDropdownItem
                                (click)="navigation(sort.column, sort.direction, sort.sortBy); sortProducts(sort.column, sort.direction,  sort.sortBy)">{{sort.sortBy}}</button>
                        </div>
                    </div>
                    <div class="col" *ngFor="let product of sortedProducts">
                        <div class="card">
                            <div class="image-container"><img [src]="product.imageUrl" class="card-img-top"
                                    alt="product.productName"></div>
                            <div class="card-body">
                                <h5 class="card-title">{{product.productName}}</h5>
                                <h6 class="card-title">{{product.price | currency}}</h6>

                            </div>
                            <div id="product-actions">
                                <button class="btn card-btn" id="update-quantity" (click)="decrementQuantity(product)"
                                    [disabled]="(product.quantity == undefined || product.quantity == 1)">-</button>
                                <input type="text" class="product-quantity form-control form-control-sm"
                                    [value]="product.quantity || 1" readonly #productQuantity>
                                <button class="btn card-btn" id="update-quantity" (click)="incrementQuantity(product)"
                                    [disabled]="product.quantity == 10">+</button>
                                <button class="btn card-btn" id="add-cart"
                                    (click)="addToCart(product, productQuantity.value)" [disabled]="loading">Add to cart
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>