#payment-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1.3rem
}

ngb-alert{
    padding: 10px;
}

input{
    padding: 9px;
}

/* @media (width: 767.9px){
    #country-div{
    margin-left: -1000px;
    }

} */